.section-about{
    background-color: #f7f7f7;
    padding: 25rem 0 40rem;
    margin-top:-20vh ; 

}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    
    background-image: linear-gradient(to right, rgb(177, 31, 250),
    rgb(108, 21, 151)) ;
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s
}
.heading-secondary:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .4);
    cursor: pointer;
}
.u-center-text{
    text-align:center;
}
.u-margin-bottom-8{
    margin-bottom: 8rem;
}
.u-margin-bottom{
    margin-bottom: 1.5rem;
}
.u-margin-bottom-1{
    margin-bottom: 4rem;
}
.heading-secondary-sub{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom,
    rgba(155, 156, 155, 0.70),
    rgba(86, 88, 87, 0.70)) ;
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent
}
.paragraph{
    font-size: 1.6rem;
    background-image: linear-gradient(to right bottom,
    rgba(155, 156, 155, 0.70),
    rgba(86, 88, 87, 0.70)) ;
    -webkit-background-clip: text;
    color: transparent

}
.paragraph:not(:last-child){
    margin-bottom: 35px;
}
.composition{
    position: relative;
}
.composition-photo{
    max-width: 55%;
    max-height: 16.2rem;
    box-shadow: 0 1.5rem 3rem rgb(0, 0, 0);
    border-radius: 2px;
    transition: all .4s;
    z-index: 10;
    position: absolute;
    outline-offset: 20px;
    margin-bottom: 3.5rem;
    margin-top: 3rem;

}
.abbr1{
    cursor: default;
}
.composition-photo:hover{
    transform: scale(1.1) translateY(1rem);
    box-shadow: 0 2rem 5rem rgb(0, 0, 0);
    z-index: 20;
    outline: 1.5rem solid darkorchid;
    cursor: pointer;
}
.composition:hover .composition-photo:not(:hover){
    transform: scale(0.9)
}
.ph1{
    left: 0;
    top: -2rem;
    
}
.ph2{
    right: 0;
    top: 2rem;
    
}
.ph3{
    left: 20%;
    top: 10rem;
    
}
.btn-text:link,.btn-text:visited{
    color: darkorchid;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1.5px solid darkorchid;
    padding: 3px;
    font-size: 1.6rem;
    transition: all .2s;
    border-radius: 0.7rem;
    margin-bottom: 25px
}
.btn-text:hover{
    background-color: darkorchid;
    color: #fff;
    box-shadow: 0 1rem 2rem black;
    transform: translateY(-3px)
}
.btn-text:active{
    background-color: darkorchid;
    color: #fff;
    box-shadow: 0 1rem 2rem black;
    transform: translateY(-1px);
}